@media (min-width: 768px) {
    .checkout-minimize #header.header5 #_desktop_search_widget {
        order: 2;
    }
    #index #header.header5 {
        border-bottom: 0;
    }
    #header.header5 {
        border-bottom: 1px solid #eeeeee;
    }
    #header.header5 .search-widget {
        position: relative;
        left: unset;
        top: unset;
        right: unset;
        width: auto;
        border: 0;
        max-width: 100%;
        display: block;
    }
    #header.header5 .header-nav {
        display: none;
    }
    #header.header5 .header-menu-line {
        border-top: 1px solid #eeeeee;
    }
    #header.header5 .header-top #_desktop_logo {
        padding: 6px 0;
    }
    #header.header5 #_desktop_logo a {
        align-items: flex-start;
    }

    #header.header5 .header-middle {
        padding: 0 3px 0 9px;
    }
    #header.header5 #_desktop_search_widget {
        width: 100%;
    }
    #header.header5 .search-widget form button[type=submit] {
        padding: 0;
        right: 11px;
    }
    #header.header5 .lang_and_сr_label {
        display: none;
    }
    #header.header5 .lang_and_сr .btn-unstyle {
        font-size: 14px;
    }
    #header.header5 #_desktop_currency_selector {
        margin-left: 25px;
    }
    #header.header5 .lang_and_сr .dropdown i.expand-more {
        font-size: 12px;
        margin: 0 2px 0 3px;
    }
    #header.header5 .header-right {
        padding-top: 3px;
    }
    #header.header5 #_desktop_cart .cart-products-count {
        margin-left: 1px;
    }
    #header.header5 .blockcart {
        margin-left: 22px;
    }
    #header.header5 #_desktop_an_wishlist-nav a {
        display: flex;
        align-items: center;
    }
    #header.header5 #_desktop_an_wishlist-nav a svg {
        margin: 0 7px 2px 0;
    }
    #header.header5 #_desktop_an_wishlist-nav {
        margin-left: 29px;
    }
    #header.header5 #_desktop_user_info {
        margin-left: 26px;
    }
    #header.header5 .user-info .btn-unstyle,
    #header.header5 .user-info a {
        display: flex;
        align-items: center;
    }
    #header.header5 .user-info .btn-unstyle svg {
        display: none;
    }
    #header.header5 .user-info .btn-unstyle i {
        font-size: 12px;
    }
    #header.header5 .user-info a svg {
        margin: 0 8px 2px 0;
    }
    #header.header5 .header-menu-wrap {
        display: flex;
        align-items: center;
    }
    #header.header5 .amega-menu #amegamenu:not(.fixed-menu) .anav-top {
        justify-content: flex-start;
    }
    #header.header5 #amegamenu:not(.fixed-menu) .amenu-item .amenu-link {
        padding: 25px 32px 20px 0;
    }
    #header.header5 .amenu-link:before,
    #header.header5 .amenu-link:after {
        display: none;
    }
    #header.header5 .header-menu-right {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    #header.header5 #_desktop_contact_link ul {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin: 0;
        list-style: none;
    }
    #header.header5 #_desktop_contact_link ul li {
        margin-right: 28px;
    }
    header.header5 #_desktop_contact_link ul li:last-child {
        margin: 0;
    }
}
@media (max-width: 1200px) {
    #header.header5 #_desktop_an_wishlist-nav,
    #header.header5 .blockcart {
        margin-left: 15px;
    }
    #header.header5 #amegamenu:not(.fixed-menu) .amenu-item .amenu-link {
        padding-right: 17px;
    }
}